.content-container {
   background: #cdcccc;
   position: relative;
   display: block;
   padding: 10px;
   border-bottom-left-radius: 10px;
   border-bottom-right-radius: 10px;
   margin: 20px auto;
   border-radius: 2px;
   max-width: 1100px;
   color: #000;
   line-height: 1.7;
   font-weight: 400;
   min-height: 100px;
}

.content-header {
  color: #232323;
  font-size: 1.1rem;
  font-weight: 600;
  margin-bottom: 10px;
}